<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<style>
</style>
<body>
    <form action="/updateData" enctype="multipart/form-data" method="post">
        <input type="text" value="<%=singleData.id%>" hidden name="id">
        <input type="text" value="<%=singleData.Book_name%>" placeholder="Enter your name" name="Book_name">
        <input type="text" value="<%=singleData.Auther_name%>" placeholder="Enter your subject" name="Auther_name">
        <input type="text" value="<%=singleData.Price%>" placeholder="Enter your city" name="Price">
        <input type="text" value="<%=singleData.Publish_data%>" placeholder="Enter your city" name="Publish_data">
        <input type="file" name="image">
        <img src="<%=singleData.image%>" width="10%">
        <button type="submit">Submit</button>
    </form>
</body>
</html>