<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <form action="/addData" method="post">
        <input type="text" placeholder="Enter your Book_name" name="Book_name">
        <input type="text" placeholder="Enter your Auther_name" name="Auther_name">
        <input type="number" placeholder="Enter your Price" name="Price">
        <input type="date" placeholder="Enter your Publish_data" name="Publish_data">
        <button type="submit">Submit</button>
    </form>
    

    <table border="1" width="100%">
        <tr>
            <th>Book_name</th>
            <th>Auther_name</th>
            <th>Price</th>
            <th>Publish_data</th>
            <th colspan="2">Action</th>
        </tr>
            <% data.map((e ,i)=>{%>
                <tr>
                    <td><%= e.Book_name%></td>
                    <td><%= e.Auther_name%></td>
                    <td><%= e.Price%></td>
                    <td><%= e.Publish_data%></td>
                    <td>
                        <button><a href="/editData?id=<%=e.id%>">Edit</a></button>
                    </td>
                    <td>
                        <button><a href="/deleteData?id=<%=e.id%>">Delete</a></button>
                    </td>
                </tr>
            <% }) %>
    </table>
</body>
</html>